<div class="infopane">
<p>
As a jack of all trades and bootcamp grad with over 5 years of professional experience in a range of industries, I
'm always ready to takes something from concept to reality. 
</p>
<div>
